
h1{
  font-size: medium;
}

.editorBorder{
  border-style:solid;
  border-color:rgb(255, 0, 0);

}


[contenteditable="true"]:focus {
outline: none;
}

[contenteditable="true"]:focus > div {
  border-style: dashed;
  border-color: rgb(0, 0, 0);
  border-width: medium;
  background-color: rgb(227, 12, 211);
}
