
h1{
  font-size: medium;
}


.editorBorder{
  width:auto;
  height: auto;
  outline: none;
  border-style:solid;
  border-color:rgb(255, 0, 0);

}

pre {
  font-family: Arial, Helvetica, sans-serif;
  //margin: 5px;
  font-size: 1em;
}

span > span {
  position:relative;
}

.spanBorder {
  border: solid blue;
}

#hiddenTextArea {
  //left: -1000px;
	//position: absolute;
  position: relative;
}


.caret{
  width: 1em;
  height: 1em;
  //display: inline-block;
  background-color: rgb(34, 194, 1);
  color: rgb(34, 194, 1);
  z-index: 2;
  position: absolute;

  /*gotten from: https://gist.github.com/soham2008xyz/cec634b9b0862fc2ac5a062b3564005c*/
  /* -webkit-animation: blink 0.9s infinite;
  -moz-animation: blink 0.9s infinite;
  animation: blink 0.9s infinite; */
}
/*gotten from: https://gist.github.com/soham2008xyz/cec634b9b0862fc2ac5a062b3564005c*/
/* @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} */
